<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
    	<property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.connection.url">jdbc:h2:tcp://localhost/~/esa</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">toor</property>
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
    	<mapping class="de.uni_stuttgart.est.project.models.User" />
    	<mapping class="de.uni_stuttgart.est.project.models.Calendar" />
    	<mapping class="de.uni_stuttgart.est.project.models.Workhours" />
    </session-factory>
</hibernate-configuration>
